body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}

select {
  font-size: 16px;
}

.accordion-item {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.accordion-button {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.badge {
  font-size: 14px;
  margin-left: 10px;
}

button {
  font-size: 16px;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.selsa-logo {
  width: 110px;
  border-radius: 50px;
  height: auto;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}
